div.container {
  margin-left: 0;
}

div.col-2 {
  text-align: center;
}
a {
  color: aliceblue !important;
}

a.dropdown-item {
  color: #8c52ff !important;
}

button,
p,
span,
i,
table {
  font-size: 0.8rem !important;
}
.quantity {
  font-size: 1.1rem;
}

.fa-solid {
  font-size: 1.2rem;
  color: #198754;
  opacity: 0.85;
  cursor: pointer;
  transition: color 1s, opacity 1s;
}

.fa-solid:hover {
  color: #198754;
  opacity: 1;
}

h4,
h5,
select {
  font-size: 1rem;
}

.btn-active {
  background-color: blue;
}

.main-row-2 {
  width: auto;
  top: 12vh;
  left: 62vw;
}
